# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Quartus Directory
*/.qsys_edit
*/.sopc_builder
*/AMP
*/app_sofware
*/incremental_db
*/db

# Quartus Files
*.bak
*.rpt
*.sopcinfo
*.bsf
*.html
*.summary
*.smsg
*.jdi
*.done
*.pin
*.sof
*.cdf

#Eclipse Dirs
/.metadata
*/.metadata
*/obj
